<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel=stylesheet href=../style/style.css>
  <link rel=stylesheet href=../style/bootstrap.min.css>
  <link rel=icon type="image/svg+xml" href="../assets/images/emoji-dizzy.svg">
  <title>My banners</title>
</head>
<body>

  <br>
  <br>
  <h2 class=mx-5>Voici mes bannières</h2>

  <div class='containerfluid  list-group banner_l'>
    <h1 class='text-center text-white py-3'>Tu t'ennuies <span class="text-warning">...</span></h1><br><BR></BR>
    <h4 class='container pl-5 mt-5 text-white text-end'>Fait un tour sur le site et tu trouveras de quoi t'occuper. <br>En plus d'accéder à des milliers d'évènements sur la ville de Pau tu peux créer le tiens !</h4>
    <div class='text-center container'>
      <button type="button" class="btn btn-outline-warning btn-lg">Lance toi et viens créer ton premier évènement ... </button>
    </div>
  </div>
  
  <br><br><br>

  <div class='containerfluid  list-group banner_s'>
    <h1 class='text-center text-white pt-5'>C'est parti <span class="text-warning">...</span></h1>
    <hr class='container w-25 text-white'>
  </div>



  
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  
</body>
</html>