<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel=stylesheet href=../style/style.css>
  <link rel=stylesheet href=../style/bootstrap.min.css>
  <link rel=icon type="image/svg+xml" href="../assets/images/emoji-dizzy.svg">
  <title>My cards</title>
</head>
<body>

  <br>
  <br>
  <h2 class=mx-5>Voici mes cartes</h2>

  <legend class=mx-5>Cartes de présentation d'évènements</legend>

  <div class='containerfluid d-flex flex-wrap justify-content-around  '>

      <div class="card m-3" style="max-width: 20rem">
        <h3 class="card-header bg-warning">Journée piscine</h3>
        <div class="card-body">
          <h5 class="card-title">Lac des Carolins, Lescar</h5>
          <h6 class="card-subtitle text-muted">By xabii@yopmail.com</h6>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
          <rect width="100%" height="100%" fill="#868e96"></rect>
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
        </svg>
        <div class="card-body">
          <p class="card-text">Nous allons passer la journée ensemble au lac des carolins. Bonnet de bain obligatoire, maillot facultatif</p>
        </div>
        <div class="card-body">
          <a href="#" class="btn btn-sm btn-outline-warning">Détails</a>
        </div>
        <div class="card-footer text-muted">
          Dans 2 jours
        </div>
      </div>



      <div class="card m-3" style="max-width: 20rem">
        <h3 class="card-header bg-warning">Journée accrobranche</h3>
        <div class="card-body">
          <h5 class="card-title">Forêt du coin</h5>
          <h6 class="card-subtitle text-muted">By Tarzan@yopmail.com</h6>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
          <rect width="100%" height="100%" fill="#868e96"></rect>
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
        </svg>
        <div class="card-body">
          <p class="card-text">Nous allons passer la journée ensemble au dans la forêt du coin. pagne obligatoire</p>
        </div>
        <div class="card-body">
          <a href="#" class="btn btn-sm btn-outline-warning">Détails</a>
        </div>
        <div class="card-footer text-muted">
          Dans 6 jours
        </div>
      </div>



      <div class="card m-3" style="max-width: 20rem">
        <h3 class="card-header bg-warning">Journée posey</h3>
        <div class="card-body">
          <h5 class="card-title">Chez toi</h5>
          <h6 class="card-subtitle text-muted">By xabii@yopmail.com</h6>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200"
          aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice"
          viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
          <rect width="100%" height="100%" fill="#868e96"></rect>
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
        </svg>
        <div class="card-body">
          <p class="card-text">Nous allons passer la journée seul dans notre canap. Rien à faire de particulier <i
              class="fas fa-value-absolute    "></i></p>
        </div>
        <div class="card-body">
          <a href="#" class="btn btn-sm btn-outline-warning">Détails</a>
        </div>
        <div class="card-footer text-muted">
          Dans 3 jours
        </div>
      </div>

  </div>

  <legend class=mx-5>Cartes de présentation de participants</legend>

  <div class='container my-3'>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="badge bg-primary rounded-pill">1</span>
        Tarzan@yopmail.com
        <span class="btn btn-warning btn-sm">Détails</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="badge bg-primary rounded-pill">2</span>
        xabii@yopmail.com
        <span class="btn btn-warning btn-sm">Détails</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="badge bg-primary rounded-pill">3</span>
        machin@yopmail.com
        <span class="btn btn-warning btn-sm">Détails</span>
      </li>
    </ul>
  </div>

  <legend class=mx-5>Cartes de présentation des villes</legend>

  <div class='container d-flex flex-wrap justify-content-around  '>

    <div class="card m-2" style="max-width: 25rem">
      <div class="card-body">
        <h4 class="card-title text-warning">Pau</h4>
        <h6 class="card-subtitle mb-2 text-muted">PLus belle ville du coin</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-sm btn-outline-warning">Détails</a>
        <span class="badge bg-primary rounded-pill">3 évènements</span>
      </div>
    </div>

    <div class="card m-2" style="max-width: 25rem">
      <div class="card-body">
        <h4 class="card-title text-warning">Bayonne</h4>
        <h6 class="card-subtitle mb-2 text-muted">Pays Basque</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-sm btn-outline-warning">Détails</a>
        <span class="badge bg-primary rounded-pill">6 évènements</span>
      </div>
    </div>

    <div class="card m-2" style="max-width: 25rem">
      <div class="card-body">
        <h4 class="card-title text-warning">Bordeaux</h4>
        <h6 class="card-subtitle mb-2 text-muted">Why not ?</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-sm btn-outline-warning">Détails</a>
        <span class="badge bg-primary rounded-pill">15 évènements</span>
      </div>
    </div>

  </div>

  <br>


  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  
</body>
</html>